@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
.login{ width:30%; height:300px; background:rgba(29,213,159,1.00); margin:auto; margin-top:15vh;}
.txt{ height:35px; width:80%; margin-top:10px;}
.btn{ height:35px; width:60%; margin-top:10px;}